<<<<<<< HEAD
body{
    background-color: #f3f3f3;
    position: static;
}
.user_center{
    width: 1170px;
    margin:20px auto;
    min-height: 460px;
    overflow: hidden;
    border: 1px solid #eceaea;
    background:#f9f9f9;
}

.user_publicleft{
    width: 190px;
    background-color: #f9f9f9;
    /* border: 1px #ddd solid; */
    float: left;
    height: 550px;
}
.user_info{
    height: 145px;
    width: 100%;
    text-align: center;
    display: block;
    padding: 25px 0px;
}
a.user_info:hover{
    text-decoration: none;
}
.user_info img{
    border:1px #ddd solid;
    border-radius: 50%;
    width:65px;
    height: 65px;
    padding: 3px;
}
.user_info .user_name{
    font-size: 18px;
    color:#666;
    margin-top: 5px;
}
.user_menu{
    border-top:1px #ddd solid;
}
.user_menu li{
    font-size: 14px;
    color:#666;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.user_menu li a{
    color: #666;
    text-decoration: none;
    display: block;
}
.user_menu li a:hover{
    /* background-color: #f5f5f5; */
}
.user_menu li a i{
    font-size: 14px;
    color: #333;
    margin: 0px;
}
.user_menu li.user_menuOn{
    background-color: #f5f5f5;
    /* color: #1c5b8b; */
}


.user_centent{
    width: 978px;
    float: right;
}

.user_cententdata{
    width: 100%;
    float: right;
    /* margin-bottom: 10px; */
}
.user_cententdata,.user_centent .user_cententbody{
    padding: 15px;
    overflow: hidden;
    background: #fff;
}
.user_centent .user_cententbody{
    min-height:550px;
}
.user_cententdata ul{
    border:1px #ddd solid;
    border-right: 0px;
    float: left;
    margin-bottom: 0px;
}
.user_cententdata ul.user_dataright{
    float: right;
}
.user_cententdata ul li{
    width: 156px;
    padding: 10px;
    border-right: 1px solid #ddd;
    text-align: center;
    float: left;
    cursor: pointer;
}
.user_cententdata ul li a{
    display: block;
    color: #333;
}
.user_cententdata ul li a:hover{
    text-decoration: none;
}
.user_cententdata ul li:hover{
    background-color: #fbfbfb;
}
.user_cententdata ul li div{
    font-size:34px;
    color:#69ABFF;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.user_cententdata ul li div span{
    font-size: 18px;
}
.user_cententdata ul li div.income{
    color: #FFB848
}


.user_cententbodynav{
    margin-bottom: 20px;
    font-size: 18px;
    clear: both;
}
.user_centent .user_cententbody .tip{
    color: #999;
    font-size: 14px;
}

.shareStep{
    width: 820px;
    height: 42px;
    background: url(../images/line.jpg) no-repeat;
    margin:0px auto;
}
.shareStep li{
    float: left;
    width: 35px;
    text-align: center;
    background:url(../images/unstep.png) no-repeat;
    line-height: 35px;
    height:35px;
}
.shareStep li.onstep{
    background:url(../images/onstep.png) no-repeat;
}
.shareStep li.offstep{
    background:url(../images/offstep.png) no-repeat;
    color: #fff;
}
.shareStep li.onstep,.shareSteptxt li.onstep,.shareSteptxt li.offstep{
    color: #7FBFFF;
}
.shareSteptxt{
    height: 50px;
    margin: 0px auto;
}
.shareSteptxt li{
    float: left;  
    width: 143px;
    text-align: center;  
}


.thumbnail{
    width: 272px;
    height: 260px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    padding:10px;
    margin:0px 7px;
    position: relative;
    margin-bottom:14px;
}
.myshare_thumbnail{
    height: 330px;
}
.thumbnail img{
    width: 100%;
}
.thumbnail .tips,.thumbnail .tip,.thumbnail .tipMsg{
    position: absolute;
    padding: 5px;
    top:10px;
    right: 10px;
    /*width: 54px;*/
    text-align: center;
    color:#fff;
    background: #019AFF;
    
}
.thumbnail a.tipMsg,.thumbnail a.tipMsg:hover,
.thumbnail a.tipMsg:active{
    text-decoration: none;
    cursor:pointer;
}
.thumbnail a.tipMsg .icon{
    font-size: 14px;
}
.thumbnail .tip{   
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.thumbnail .tips{
    background-color: #019AFF;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.thumbnail .caption{
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
.thumbnail .caption .ms_plugTitle{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.thumbnail .caption .ms_plugTitle .ms_plugShareHead,.thumbnail .caption .ms_plugTitle  .ms_plugShareName{
    float: left;
}
.thumbnail .caption .ms_plugTitle  .ms_plugShareName div{
    font-size: 16px;
    margin-top: 4px;
}
.thumbnail .caption .ms_plugTitle  .ms_plugShareName div.ms_plugShareBb{
    font-size: 14px;
    color: #999;
}
.thumbnail .caption .ms_plugTitle .ms_plugShareHead img{
    width: 50px;
    border-radius: 100%;
    height: 50px;
    background: url(http://static.ming-soft.net/msheader.jpg);
    margin-right: 10px;
}
.thumbnail .caption .ms_plugDescription{
    height: 62px;
    overflow: hidden;
    margin-bottom: 10px;
}
.thumbnail .priceAndNum{
    margin-bottom: 10px;
}
.thumbnail .priceAndNum span{
    font-size: 13px;
    color: #666
}
.thumbnail .priceAndNum span.thumbnail_num{
    float: right;
}
.myshare_template{
    height:305px;
}
.thumbnail .ms_templatePic .tips,.thumbnail .ms_templatePic .tip,.thumbnail .ms_templatePic .tipMsg{
    top: 38px;
}
.thumbnail .myshare_price{
    color: #0099FF;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}
.submit_img{
    width: 250px;
    height: 130px;
    float: left;
    border:1px #ddd solid;
    font-size: 14px;
    line-height: 127px;
    text-align: center;
    overflow: hidden;    
    cursor: pointer;
    position: relative;
}
.display-img{
    position: absolute;
    top:0px;
    width: 250px;
    height: 100%;
    z-index: 1000;
}
.display-img img{
    width: 100%;
    height: 100%;
}
.display-img span{
    cursor: pointer;
    height: 20px;
    width: 30px;
    position: absolute;
    right: 0px;
    background:#ddd;
}
.display-zip{
    float:left;
    margin-right: 20px;
    line-height: 34px;
}
.display-zip b{
    margin-right: 30px;
}
.display-zip span{
    cursor: pointer;
}
.myshare_new{
    width: 115px;
    height: 115px;
    margin: 80px auto;
    text-align: center;
    line-height: 115px;
    border: 1px dashed #ddd;
    color: #ddd;
    font-size: 60px;
}
.myshare_new a,.submit_img a{
    display: block;
}
.myshare_new a:hover,.submit_img a:hover{
    text-decoration: none;
}
.thumbnail .ms_templateTitle{
    text-align: left;
    font-size: 17px;
    color: #333;
    height:28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}
.ms_plugPic{
    height: 125px;
}
.ms_plugPic,.ms_templatePic{
    display: block;
    width: 250px;
    overflow: hidden;
}
.thumbnail .ms_templatePic{
    height: 180px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    padding: 0;
}
.btn a,.btn a:active,.btn a:hover{
    color:#fff;
    text-decoration: none;
}

.releaseIn{
    margin-bottom: 20px;
    overflow: hidden;
}
.releaseIn span{
    float: left;
    margin-right: 1px;
    text-align: center;
    cursor: pointer;
    padding: 5px 40px;
    background: #ddd;
    color: #333;
}
.releaseIn span.active{
    background: #69ABFF;
    color: #fff
}
.plug-in{
    display: none;
}

.weburl,.supmoney{
    width: 300px;
    padding: 5px;
    border: 1px solid #ddd;    
    border-radius:2px;
    height: 36px;
    margin-right:10px;
}
.supmoney{
    width: 115px;
}
.originalSelect,.supportSelect{
    line-height: 38px;
    width: 20%;
    float: left;
}

.fixed{
    position: fixed;
    top: 0px;
    z-index: 1000
}
.mar_154{
    margin-top: 154px;
}
.updateMsg{
    width: 88%;
    line-height: 38px;
}
.footerOver{
    position: absolute;
    bottom: 0px;
}
.fill_VersionPrice,.fill_url{
    display: none;
}

.f_position{
    position: absolute;
    bottom: 0px;
}
/*代码生成器*/
.code-left{
    width: 240px;
    float: left;
    min-height: 550px;
    background-color: #f9f9f9;
}
.code-left-top{
    color: #999;
    background: #f9f9f9;
    position: relative;
    height: 55px;
    border-bottom:1px solid #ddd;
}
.back-home{
    padding: 10px;
    background: #09f;
    width: 56px;
    text-align: center;
    display: block;
    text-decoration: none;
    float: left;
}
.back-home:hover,.back-home:active{
    text-decoration: none;
}
.back-home i{
    font-size: 25px;
    color: #fff;
}
.pro-name{
    float: left;
    width: 160px;
    height: 100%;
    line-height: 55px;
    margin-left: 10px;
}
.pro-btn{
    position: absolute;
    background: #f9f9f9;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    top: 54px;
    box-shadow:-3px 2px 7px #ddd;
    left: 0px;
    display: none;
}
/*左侧数据库表列表*/
.data-title{
    text-align: left;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
}
.data-title i{
    font-size: 12px;
    margin-right: 7px;
}

.date-list{
    height: 700px;
    overflow-y: auto;
}
.date-list li{
    height: 32px;
    text-align: left;
    line-height: 30px;
    cursor: pointer;
    position: relative;
}
.date-list li span{
    margin-left: 30px;
    width:70%;
    display: inline-block;
}
.date-list li:hover{
    background: #fff;
}
.date-list li.active{
    background: #fff;
    border-top: 2px solid #09f;
    line-height: 27px;
}
.date-list li .edit-form{
    float: right;
    font-size: 14px;
    width: 30px;
    text-align: center;
}
.default-date{
    width: 230px;
    position: relative;
    display: none;
}
.save_date{
    margin-right: 13px;
    width: 160px
}
.form-message{
    background-color: #fff;
    position: absolute;
    top:31px;
    z-index: 1000;
    width: 100%;
    padding: 10px 0px;
    box-shadow:-3px 2px 7px #ddd;
}
.form-message .form-group input,.form-message .form-group .check-box,.date-message .form-group input{
    width: 145px;
    float: left;
}
.date-message .form-group input{
    width: 165px;
}
.form-message .form-group .check-box label{
    text-align: left;
    margin: 0px;
    line-height: 22px;
    margin-top: 6px;
}
.form-message .form-group .check-box label input{
    width: 15px;
}
.form-message .save-form{
    margin-left: 75px;
    margin-top: 10px;
    width: 85px;
}
.project-loading{
    padding: 10px;
}
/*右侧表单内容*/
.code-content-title{
    border-bottom: 1px solid #ddd;padding-bottom: 8px;    text-align: right;
}
.code-field{
    width: 650px;
    float: left;
}

.field-detail{
    width: 248px;
    float: left;
}
.field-detail .field-title{
    font-weight: bold;
    border-bottom:2px solid #ddd;
    padding: 8px;
    text-align: center;
}
.save-field{
    width: 80px;
}
.field-form{
    background-color: #f5f5f5;
    padding: 10px;
    min-height: 415px;
    display: none;
}
.field-form .form-group,.form-message .form-group,.date-message .form-group{
    height: 34px;
}
.field-form .form-group label,.form-message .form-group label,.date-message .form-group label{
    float: left;
    font-weight: normal;
    margin-right: 7px;
    line-height: 34px;
    text-align: right;
}
.date-message .form-group label{
    width:50px;
}
.field-form .form-group label,.form-message .form-group label{
     width: 66px;
}
.field-form .form-group input{
    width: 155px;
    float: left;
}
.field-form .form-group input.small{
    width: 75px;
=======
body{
    background-color: #f3f3f3;
    position: static;
}
.user_center{
    width: 1170px;
    margin:20px auto;
    min-height: 460px;
    overflow: hidden;
    border: 1px solid #eceaea;
    background:#f9f9f9;
}

.user_publicleft{
    width: 190px;
    background-color: #f9f9f9;
    /* border: 1px #ddd solid; */
    float: left;
    height: 550px;
}
.user_info{
    height: 145px;
    width: 100%;
    text-align: center;
    display: block;
    padding: 25px 0px;
}
a.user_info:hover{
    text-decoration: none;
}
.user_info img{
    border:1px #ddd solid;
    border-radius: 50%;
    width:65px;
    height: 65px;
    padding: 3px;
}
.user_info .user_name{
    font-size: 18px;
    color:#666;
    margin-top: 5px;
}
.user_menu{
    border-top:1px #ddd solid;
}
.user_menu li{
    font-size: 14px;
    color:#666;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.user_menu li a{
    color: #666;
    text-decoration: none;
    display: block;
}
.user_menu li a:hover{
    /* background-color: #f5f5f5; */
}
.user_menu li a i{
    font-size: 14px;
    color: #333;
    margin: 0px;
}
.user_menu li.user_menuOn{
    background-color: #f5f5f5;
    /* color: #1c5b8b; */
}


.user_centent{
    width: 978px;
    float: right;
}

.user_cententdata{
    width: 100%;
    float: right;
    /* margin-bottom: 10px; */
}
.user_cententdata,.user_centent .user_cententbody{
    padding: 15px;
    overflow: hidden;
    background: #fff;
}
.user_centent .user_cententbody{
    min-height:550px;
}
.user_cententdata ul{
    border:1px #ddd solid;
    border-right: 0px;
    float: left;
    margin-bottom: 0px;
}
.user_cententdata ul.user_dataright{
    float: right;
}
.user_cententdata ul li{
    width: 156px;
    padding: 10px;
    border-right: 1px solid #ddd;
    text-align: center;
    float: left;
    cursor: pointer;
}
.user_cententdata ul li a{
    display: block;
    color: #333;
}
.user_cententdata ul li a:hover{
    text-decoration: none;
}
.user_cententdata ul li:hover{
    background-color: #fbfbfb;
}
.user_cententdata ul li div{
    font-size:34px;
    color:#69ABFF;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.user_cententdata ul li div span{
    font-size: 18px;
}
.user_cententdata ul li div.income{
    color: #FFB848
}


.user_cententbodynav{
    margin-bottom: 20px;
    font-size: 18px;
    clear: both;
}
.user_centent .user_cententbody .tip{
    color: #999;
    font-size: 14px;
}

.shareStep{
    width: 820px;
    height: 42px;
    background: url(../images/line.jpg) no-repeat;
    margin:0px auto;
}
.shareStep li{
    float: left;
    width: 35px;
    text-align: center;
    background:url(../images/unstep.png) no-repeat;
    line-height: 35px;
    height:35px;
}
.shareStep li.onstep{
    background:url(../images/onstep.png) no-repeat;
}
.shareStep li.offstep{
    background:url(../images/offstep.png) no-repeat;
    color: #fff;
}
.shareStep li.onstep,.shareSteptxt li.onstep,.shareSteptxt li.offstep{
    color: #7FBFFF;
}
.shareSteptxt{
    height: 50px;
    margin: 0px auto;
}
.shareSteptxt li{
    float: left;  
    width: 143px;
    text-align: center;  
}


.thumbnail{
    width: 272px;
    height: 260px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    padding:10px;
    margin:0px 7px;
    position: relative;
    margin-bottom:14px;
}
.myshare_thumbnail{
    height: 330px;
}
.thumbnail img{
    width: 100%;
}
.thumbnail .tips,.thumbnail .tip,.thumbnail .tipMsg{
    position: absolute;
    padding: 5px;
    top:10px;
    right: 10px;
    /*width: 54px;*/
    text-align: center;
    color:#fff;
    background: #019AFF;
    
}
.thumbnail a.tipMsg,.thumbnail a.tipMsg:hover,
.thumbnail a.tipMsg:active{
    text-decoration: none;
    cursor:pointer;
}
.thumbnail a.tipMsg .icon{
    font-size: 14px;
}
.thumbnail .tip{   
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.thumbnail .tips{
    background-color: #019AFF;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.thumbnail .caption{
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
.thumbnail .caption .ms_plugTitle{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.thumbnail .caption .ms_plugTitle .ms_plugShareHead,.thumbnail .caption .ms_plugTitle  .ms_plugShareName{
    float: left;
}
.thumbnail .caption .ms_plugTitle  .ms_plugShareName div{
    font-size: 16px;
    margin-top: 4px;
}
.thumbnail .caption .ms_plugTitle  .ms_plugShareName div.ms_plugShareBb{
    font-size: 14px;
    color: #999;
}
.thumbnail .caption .ms_plugTitle .ms_plugShareHead img{
    width: 50px;
    border-radius: 100%;
    height: 50px;
    background: url(http://static.ming-soft.net/msheader.jpg);
    margin-right: 10px;
}
.thumbnail .caption .ms_plugDescription{
    height: 62px;
    overflow: hidden;
    margin-bottom: 10px;
}
.thumbnail .priceAndNum{
    margin-bottom: 10px;
}
.thumbnail .priceAndNum span{
    font-size: 13px;
    color: #666
}
.thumbnail .priceAndNum span.thumbnail_num{
    float: right;
}
.myshare_template{
    height:305px;
}
.thumbnail .ms_templatePic .tips,.thumbnail .ms_templatePic .tip,.thumbnail .ms_templatePic .tipMsg{
    top: 38px;
}
.thumbnail .myshare_price{
    color: #0099FF;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}
.submit_img{
    width: 250px;
    height: 130px;
    float: left;
    border:1px #ddd solid;
    font-size: 14px;
    line-height: 127px;
    text-align: center;
    overflow: hidden;    
    cursor: pointer;
    position: relative;
}
.display-img{
    position: absolute;
    top:0px;
    width: 250px;
    height: 100%;
    z-index: 1000;
}
.display-img img{
    width: 100%;
    height: 100%;
}
.display-img span{
    cursor: pointer;
    height: 20px;
    width: 30px;
    position: absolute;
    right: 0px;
    background:#ddd;
}
.display-zip{
    float:left;
    margin-right: 20px;
    line-height: 34px;
}
.display-zip b{
    margin-right: 30px;
}
.display-zip span{
    cursor: pointer;
}
.myshare_new{
    width: 115px;
    height: 115px;
    margin: 80px auto;
    text-align: center;
    line-height: 115px;
    border: 1px dashed #ddd;
    color: #ddd;
    font-size: 60px;
}
.myshare_new a,.submit_img a{
    display: block;
}
.myshare_new a:hover,.submit_img a:hover{
    text-decoration: none;
}
.thumbnail .ms_templateTitle{
    text-align: left;
    font-size: 17px;
    color: #333;
    height:28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}
.ms_plugPic{
    height: 125px;
}
.ms_plugPic,.ms_templatePic{
    display: block;
    width: 250px;
    overflow: hidden;
}
.thumbnail .ms_templatePic{
    height: 180px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    padding: 0;
}
.btn a,.btn a:active,.btn a:hover{
    color:#fff;
    text-decoration: none;
}

.releaseIn{
    margin-bottom: 20px;
    overflow: hidden;
}
.releaseIn span{
    float: left;
    margin-right: 1px;
    text-align: center;
    cursor: pointer;
    padding: 5px 40px;
    background: #ddd;
    color: #333;
}
.releaseIn span.active{
    background: #69ABFF;
    color: #fff
}
.plug-in{
    display: none;
}

.weburl,.supmoney{
    width: 300px;
    padding: 5px;
    border: 1px solid #ddd;    
    border-radius:2px;
    height: 36px;
    margin-right:10px;
}
.supmoney{
    width: 115px;
}
.originalSelect,.supportSelect{
    line-height: 38px;
    width: 20%;
    float: left;
}

.fixed{
    position: fixed;
    top: 0px;
    z-index: 1000
}
.mar_154{
    margin-top: 154px;
}
.updateMsg{
    width: 88%;
    line-height: 38px;
}
.footerOver{
    position: absolute;
    bottom: 0px;
}
.fill_VersionPrice,.fill_url{
    display: none;
}

.f_position{
    position: absolute;
    bottom: 0px;
}
/*代码生成器*/
.code-left{
    width: 240px;
    float: left;
    min-height: 550px;
    background-color: #f9f9f9;
}
.code-left-top{
    color: #999;
    background: #f9f9f9;
    position: relative;
    height: 55px;
    border-bottom:1px solid #ddd;
}
.back-home{
    padding: 10px;
    background: #09f;
    width: 56px;
    text-align: center;
    display: block;
    text-decoration: none;
    float: left;
}
.back-home:hover,.back-home:active{
    text-decoration: none;
}
.back-home i{
    font-size: 25px;
    color: #fff;
}
.pro-name{
    float: left;
    width: 160px;
    height: 100%;
    line-height: 55px;
    margin-left: 10px;
}
.pro-btn{
    position: absolute;
    background: #f9f9f9;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    top: 54px;
    box-shadow:-3px 2px 7px #ddd;
    left: 0px;
    display: none;
}
/*左侧数据库表列表*/
.data-title{
    text-align: left;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
}
.data-title i{
    font-size: 12px;
    margin-right: 7px;
}

.date-list{
    height: 700px;
    overflow-y: auto;
}
.date-list li{
    height: 32px;
    text-align: left;
    line-height: 30px;
    cursor: pointer;
    position: relative;
}
.date-list li span{
    margin-left: 30px;
    width:70%;
    display: inline-block;
}
.date-list li:hover{
    background: #fff;
}
.date-list li.active{
    background: #fff;
    border-top: 2px solid #09f;
    line-height: 27px;
}
.date-list li .edit-form{
    float: right;
    font-size: 14px;
    width: 30px;
    text-align: center;
}
.default-date{
    width: 230px;
    position: relative;
    display: none;
}
.save_date{
    margin-right: 13px;
    width: 160px
}
.form-message{
    background-color: #fff;
    position: absolute;
    top:31px;
    z-index: 1000;
    width: 100%;
    padding: 10px 0px;
    box-shadow:-3px 2px 7px #ddd;
}
.form-message .form-group input,.form-message .form-group .check-box,.date-message .form-group input{
    width: 145px;
    float: left;
}
.date-message .form-group input{
    width: 165px;
}
.form-message .form-group .check-box label{
    text-align: left;
    margin: 0px;
    line-height: 22px;
    margin-top: 6px;
}
.form-message .form-group .check-box label input{
    width: 15px;
}
.form-message .save-form{
    margin-left: 75px;
    margin-top: 10px;
    width: 85px;
}
.project-loading{
    padding: 10px;
}
/*右侧表单内容*/
.code-content-title{
    border-bottom: 1px solid #ddd;padding-bottom: 8px;    text-align: right;
}
.code-field{
    width: 650px;
    float: left;
}

.field-detail{
    width: 248px;
    float: left;
}
.field-detail .field-title{
    font-weight: bold;
    border-bottom:2px solid #ddd;
    padding: 8px;
    text-align: center;
}
.save-field{
    width: 80px;
}
.field-form{
    background-color: #f5f5f5;
    padding: 10px;
    min-height: 415px;
    display: none;
}
.field-form .form-group,.form-message .form-group,.date-message .form-group{
    height: 34px;
}
.field-form .form-group label,.form-message .form-group label,.date-message .form-group label{
    float: left;
    font-weight: normal;
    margin-right: 7px;
    line-height: 34px;
    text-align: right;
}
.date-message .form-group label{
    width:50px;
}
.field-form .form-group label,.form-message .form-group label{
     width: 66px;
}
.field-form .form-group input{
    width: 155px;
    float: left;
}
.field-form .form-group input.small{
    width: 75px;
>>>>>>> commit
}