<!DOCTYPE html>
<html>
<head>
	<title>提示</title>
	<meta charset="utf-8">
	<link rel="stylesheet/less" type="text/less" href="./less/prompt.less">
	<script src="http://cdn.mingsoft.net/plugins/less/2.5.3/less.min.js" ></script>
</head>
<body>
	<header>
		<div class="mstore-prompt-logo">
			<a href=""><img src="./images/logo-1.png"></a>
		</div>
	</header>
	<div class="mstore-prompt">
		<div class="mstore-prompt-concten">
			<div class="mstore-prompt-img">
				<img src="./images/notice-2.png">
			</div>
			<div class="mstore-prompt-title">当前已是最新版本！</div>
			<div class="mstore-prompt-buttom-div">
				<a href=""><div class="mstore-prompt-buttom">返回首页</div></a>
			</div>
			
		</div>
	</div>
	<footer>
		<div class="mstore-prompt-footer">
			<div class="mstore-prompt-footer-link">
				<span><a href="">关于我们</a></span>|<span><a href="">发展历程</a></span>|<span><a href="">联系我们</a></span>
			</div>
			<div class="mstore-prompt-footer-copyright">
				版权所有&copy;铭飞科技有限公司2012-2018保留一切权利
			</div>
		</div>
	</footer>
</body>
</html>