<!DOCTYPE html>
<html>
<head>
	<title>提示</title>
	<meta charset="utf-8">
	<link rel="stylesheet/less" type="text/less" href="../templets/86/cms/less/prompt.less">
	<script src="http://cdn.mingsoft.net/plugins/less/2.5.3/less.min.js" ></script>
</head>
<body>
	<header>
		<div class="mstore-prompt-logo">
			<a href=""><img src="../templets/86/cms/images/logo-1.png"></a>
		</div>
	</header>
	<div class="mstore-prompt">
		<div class="mstore-prompt-concten" id='pay-concten'>
			<div class="mstore-prompt-concten-div">
				<div class="mstore-prompt-title pay-title">
					<img src="../templets/86/cms/images/yes.png">
					<div>支付成功!感谢您对这位技术提供小伙伴的支持！</div>
				</div>
				<div class="mstore-prompt-title-rompt">
					有任何问题可以到<a href="http://bbs.mingsoft.net/mbbs/main.do">官方论坛</a>发帖提问，技术会在第一时间进行回复解答
				</div>
			</div>
			
			<div class="mstore-prompt-buttom-div">
				<a href=""><div class="mstore-prompt-buttom">返回首页</div></a>
			</div>
			
		</div>
	</div>
	<footer>
		<div class="mstore-prompt-footer">
			<div class="mstore-prompt-footer-link">
				<span><a href="">关于我们</a></span>|<span><a href="">发展历程</a></span>|<span><a href="">联系我们</a></span>
			</div>
			<div class="mstore-prompt-footer-copyright">
				版权所有&copy;铭飞科技有限公司2012-2018保留一切权利
			</div>
		</div>
	</footer>
</body>
</html>