.login{
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -167px; /* negative half of the height */
  font-size: 12px;
  margin-left: -170px;
  width: 340px;
  padding: 30px;
  background-color: #ffffff;
}
.box a {
  text-decoration: none
}

.form-group {
  margin-bottom: 12px
}

.title {
  margin-bottom: 30px
}

.title span {
  font-size: 16px;
  font-weight: bolder
}

.title a {
  float: right;
  font-size: 14px;
  color: #666666
}

.btn {
  width: 280px;
  background-color: #0099ff;
  color: #ffffff;
  border-color: #0099ff;
}

.login-float {
  float: left;
}

.code {
  width: 150px;
  margin-right: 10px
}

.login-code-img {
  height: 34px;
}
.buttonOn{
  background-color: #ffffff;
  color: #0099ff;
}
.buttonOff{
  background-color: #0099ff;
  color: #ffffff;
}

